#CLK
set_io clk_12mhz 21
set_io clk_50mhz 52

#Leds
set_io led[0] 112
set_io led[1] 113
set_io led[2] 114
set_io led[3] 115
set_io led[4] 116
set_io led[5] 117
set_io led[6] 118
set_io led[7] 119

#Buttons/Switch
set_io btn[0] 122 
set_io btn[1] 124
set_io btn[2] 125
set_io btn[3] 128
set_io btn[4] 129
set_io sw[0] 130
set_io sw[1] 134

#PMOD Power
set_io pmod_pwr_en 22

#PMOD Header1
set_io pmod1[0] 136
set_io pmod1[1] 144
set_io pmod1[2] 143
set_io pmod1[3] 142
set_io pmod1[4] 137
set_io pmod1[5] 138
set_io pmod1[6] 139
set_io pmod1[7] 141

#PMOD Header2
set_io pmod2[0] 20
set_io pmod2[1] 19
set_io pmod2[2] 18
set_io pmod2[3] 17
set_io pmod2[4] 11
set_io pmod2[5] 12
set_io pmod2[6] 15
set_io pmod2[7] 16

#PMOD Header3
set_io pmod3[0] 2
set_io pmod3[1] 4
set_io pmod3[2] 8
set_io pmod3[3] 10
set_io pmod3[4] 1
set_io pmod3[5] 3
set_io pmod3[6] 7
set_io pmod3[7] 9

#ArduinoHeader-Enable
set_io oe_j5 31
set_io oe_j6 39

#ArduinoHeader J5
set_io io_scl 24
set_io io_sda 25
set_io io_miso 26
set_io io_sck 28
set_io io_mosi 29
set_io io_d[6] 32
set_io io_d[7] 33
set_io io_ss 34

#ArduinoHeader J6
set_io io_d[0] 41
set_io io_d[1] 42
set_io io_d[2] 43
set_io io_d[3] 44
set_io io_d[4] 45
set_io io_d[5] 47
set_io io_tx 38
set_io io_rx 37

#ADC
set_io adc_scl 120
set_io adc_sda 121

#UART/RS232
set_io uart_rx 62
set_io uart_tx 60
set_io uart_rts 61
set_io uart_dcd 49
set_io uart_dtr 48
set_io uart_dsr 55
set_io uart_cts 56

#SPI - on-board flash
#set_io flash_io[0] 67
set_io flash_sdo 67
#set_io flash_io[1] 68
set_io flash_sdi 68
#set_io flash_io[2] 64
#set_io flash_io[3] 63
set_io flash_sck 70
set_io flash_csn 71

#SRAM
set_io sram_ce 110
set_io sram_oe 87
set_io sram_we 94

set_io sram_addr[0] 73
set_io sram_addr[1] 74
set_io sram_addr[2] 75
set_io sram_addr[3] 76
set_io sram_addr[4] 78
set_io sram_addr[5] 102
set_io sram_addr[6] 104
set_io sram_addr[7] 105
set_io sram_addr[8] 106
set_io sram_addr[9] 107
set_io sram_addr[10] 101
set_io sram_addr[11] 99
set_io sram_addr[12] 98
set_io sram_addr[13] 97
set_io sram_addr[14] 96
set_io sram_addr[15] 85
set_io sram_addr[16] 83
set_io sram_addr[17] 81
set_io sram_addr[18] 79

set_io sram_io[0] 80
set_io sram_io[1] 82
set_io sram_io[2] 84
set_io sram_io[3] 91
set_io sram_io[4] 95
set_io sram_io[5] 93
set_io sram_io[6] 90
set_io sram_io[7] 88