#CLK
set_io clk_12mhz 21
set_io clk_50mhz 52

#Leds
set_io led0 112
set_io led1 113
set_io led2 114
set_io led3 115
set_io led4 116
set_io led5 117
set_io led6 118
set_io led7 119

#Buttons/Switch
set_io btn1 122 
set_io btn2 124
set_io btn3 125
set_io btn4 128
set_io btn5 129
set_io sw1 130
set_io sw2 134

#PMOD Power
set_io pmod_pwr_en 22

#PMOD Header1
set_io p1_1 136
set_io p2_1 144
set_io p3_1 143
set_io p4_1 142
set_io p7_1 137
set_io p8_1 138
set_io p9_1 139
set_io p10_1 141

#PMOD Header2
set_io p1_2 20
set_io p2_2 19
set_io p3_2 18
set_io p4_2 17
set_io p7_2 11
set_io p8_2 12
set_io p9_2 15
set_io p10_2 16

#PMOD Header3
set_io p1_3 2
set_io p2_3 4
set_io p3_3 8
set_io p4_3 10
set_io p7_3 1
set_io p8_3 3
set_io p9_3 7
set_io p10_3 9

#ArduinoHeader-Enable
set_io oe_j5 31
set_io oe_j6 39

#ArduinoHeader J5
set_io io_scl 24
set_io io_sda 25
set_io io_miso 26
set_io io_sck 28
set_io io_mosi 29
set_io io_d8 32
set_io io_d9 33
set_io io_ss 34

#ArduinoHeader J6
set_io io_d2 41
set_io io_d3 42
set_io io_d4 43
set_io io_d5 44
set_io io_d6 45
set_io io_d7 47
set_io io_tx 38
set_io io_rx 37

#ADC
set_io adc_scl 120
set_io adc_sda 121

#UART/RS232
set_io uart_rx 60
set_io uart_tx 62
set_io uart_rt 61
set_io dcd 49
set_io dtr 48
set_io dsr 55
set_io cts 56

#SPI
set_io spi_mosi 67
set_io spi_miso 68
set_io spi_clk 70
set_io spi_ss 71

#SRAM
set_io sram_ce 110
set_io sram_oe 87
set_io sram_we 94

set_io a0 73
set_io a1 74
set_io a2 75
set_io a3 76
set_io a4 78
set_io a5 102
set_io a6 104
set_io a7 105
set_io a8 106
set_io a9 107
set_io a10 101
set_io a11 99
set_io a12 98
set_io a13 97
set_io a14 96
set_io a15 85
set_io a16 83
set_io a17 81
set_io a18 79

set_io io0 80
set_io io1 82
set_io io2 84
set_io io3 91
set_io io4 95
set_io io5 93
set_io io6 90
set_io io7 88
